
services:
  - type: web
    name: trading
    env: python
    plan: free
    pythonVersion: 3.10.0
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn  app:app --host 0.0.0.0 --port 10000
